<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shark.mybatisboot.dao.mapper.DemoMapper">

    <!-- 查询所有商户 -->
    <select id="queryMemberName" resultType="string">
        SELECT DISTINCT member_name from SQL_MODEL
    </select>

</mapper>
